body {
  font-family: 'Montserrat', sans-serif;
  color: #ced4da;
}

.page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212529;
  flex-direction: column;
}
.sx, .dx {
  height: inherit;
  display: flex;
  padding: 5rem;

}

.dx {
  width: 45%;
    align-items: center;
  justify-content: right;
}

.sx {
  width: 55%;
  flex-flow: column;
}




.s1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212529;
  width: 100%;
  height: 100vh;
  background-color: red;
  width: inherit;
}
.lightcol {
  background-color: gray;
}

.darkcol {
  background-color: darkgray;
}

.titlefull {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column;
  margin-top: auto;
  padding-top: 5rem;
  max-width: 60rem;
}

.title, .subtitle, .overtitle {
  
}


.overtitle {
  font-size: 3rem;
  color:  #ced4da;
  text-transform: uppercase;
}

.title {
  font-size: 5rem;
  color:  #ced4da;
  text-transform: uppercase;
}

.subtitle {
  font-size: 1rem;
  color:  #ced4da;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar{  
/*   height: 300px;
  width: 300px; */
  
  width: 100%;
  max-width: 200px;
  height: auto;
  
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
}

.sotto {
  margin-top:auto;
  border-top: 1px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 60rem;
}

.sotto div {
  width: 25%;
  margin-top: 25px;
}

[class*="-label"] {
  font-weight: 800;
}

.s2, .s3, .s4 {
  width: 100%;
/*   height: 400px; */
  display: flex;
  align-items: center;
  justify-content: start;  
}


.s2 .dx, .s3 .sx {
  background: darkgray;
}

.s2 .sx, .s3 .dx {
  background: gray;
}


.s2 .dx, .s2 .sx, .s3 .dx, .s3 .sx {
    align-items: start;
}

.s2 .dx {
  margin-bottom: auto;
}

.intro {
  font-size: 2rem;
  text-align: right;
  text-transform: uppercase;
}

.intro span {
  display: block;
  padding-top: 10px;
  font-size: 1rem;
  text-transform: none;
}

.intro-text {
  height: 100%;
}

.intro-text p {
  margin-bottom: 1rem;
  line-height: 1.4;
  font-size: 1.4rem;
}