.progress-bar-10 {
  width: 10%;
}
.progress-bar-20 {
  width: 20%;
}
.progress-bar-30 {
  width: 30%;
}

.progress-bar-40 {
  width: 40%;
}

.progress-bar-50 {
  width: 50%;
}
.progress-bar-60 {
  width: 60%;
}
.progress-bar-70 {
  width: 70%;
}

.progress-bar-80 {
  width: 80%;
}
.progress-bar-90 {
  width: 90%;
}
.progress-bar-100 {
  width: 100%;
}

.progress-bar-10-animate {
  animation: progressBar10 2s ease-in-out;
}
.progress-bar-20-animate {
  animation: progressBar20 2s ease-in-out;
}
.progress-bar-30-animate {
  animation: progressBar30 2s ease-in-out;
}

.progress-bar-40-animate {
  animation: progressBar40 2s ease-in-out;
}

.progress-bar-50-animate {
  animation: progressBar50 2s ease-in-out;
}
.progress-bar-60-animate {
  animation: progressBar60 2s ease-in-out;
}
.progress-bar-70-animate {
  animation: progressBar70 2s ease-in-out;
}

.progress-bar-80-animate {
  animation: progressBar80 2s ease-in-out;
}
.progress-bar-90-animate {
  animation: progressBar90 2s ease-in-out;
}
.progress-bar-100-animate {
  animation: progressBar100 2s ease-in-out;
}

@keyframes progressBar10 {
  0% {
    width: 0;
  }
  100% {
    width: 10%;
  }
}

@keyframes progressBar20 {
  0% {
    width: 0;
  }
  100% {
    width: 20%;
  }
}

@keyframes progressBar30 {
  0% {
    width: 0;
  }
  100% {
    width: 30%;
  }
}

@keyframes progressBar40 {
  0% {
    width: 0;
  }
  100% {
    width: 40%;
  }
}

@keyframes progressBar50 {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes progressBar60 {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

@keyframes progressBar70 {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

@keyframes progressBar80 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@keyframes progressBar90 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes progressBar100 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.grigiolino {
  color: var(--bs-body-color);
  opacity: 0.25;
}

.display-none {
  display: none;
  animation: fadeOut 1.5s;
}

.display-block {
  display: block;
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* 
Le prox 3 regole creano l'overlay 
e l'effettino in hover 
sulle img dei progetti 
*/

.card {
  width: 100%;
  overflow: hidden;
}

.card img {
  width: 100%;
  transition: all 1s ease-in-out;
  opacity: 0.5;
}

.card:hover img {
  transform: scale(1.05, 1.05);
  opacity: 0.2;
}

/* Loghi grigiolini */

.loghi img {
  max-width: 75px;
  height: auto;
  filter: opacity(0.2) saturate(0) contrast(50%) brightness(150%) invert(0.2);
}

/* 
Il link dei progetti e' gestito via js, 
manca il puntatore... 
*/

.card {
  cursor: pointer;
}

#avatar img {
  filter: contrast(200%) brightness(100%) opacity(0.5);
  max-width: 250px;
  height: 100%;
}

img {
  height: auto;
  width: 100%;
}

.line {
  height: 2px;
  background: var(--bs-white);
  opacity: 0.25;
  width: 1rem;
}

.vr {
  width: 2px;
}
